<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<!-- Logo retrieved from http://en.wikipedia.org/wiki/File:Question_book-new.svg -->
				<img width="500px" alt="Bookito!" class="img-responsive text-center" src="modules/core/img/brand/logo.svg" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Build a bookito now!
			</p>
		</div>
		<div class="row">
			<p>
				<a data-ng-hide="authentication.user" class="btn btn-primary btn-lg" href="/#!/signin">Get Started!</a>
				<a data-ng-show="authentication.user" class="btn btn-primary btn-lg" href="#!/bookitos/create">Get Started!</a>
			</p>
		</div>
	</div>
</section>
<section data-ng-import="../../bookitos/views/list-bookitos.client.view.html"></section>