<section data-ng-controller="BookitosController" data-ng-init="findOne()">
	<div class="clearfix">
		<div class="page-header">
			<h1 data-ng-bind="bookito.name"></h1>
		</div>
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == bookito.user._id))">
			<a class="btn btn-primary" href="/#!/bookitos/{{bookito._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<small>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="bookito.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="bookito.user.displayName"></span>
			</em>
		</small>
	</div>


	<div class="text-center well">
		<div>
       		<img data-ng-src="{{bookito.coverImageUrl || 'modules/core/img/brand/logo.svg'}}"></img>
       	</div>
       	<div btf-markdown="bookito.description"></div>
       	<div>
       		<a class="btn btn-primary" href="/#!/bookitos/{{bookito._id}}/page/{{startPage._id}}">Launch!</a>
       	</div>
	</div>
</section>
